{% extends "base.html" %}
{% load static %}

{% block content %}
{{ variable }} 
{% if user.is_authenticated %}
<a href="/logout/" class="button">Logout</a>
{% endif %}
<div id="app-4"> 
<span v-if="seen">
<ul>
    {% for sugg in some_list %}
        <li>{{ sugg }}</li>
    {% endfor %}
</ul>
</span> 
<span v-if="unseen">

    <ul>
        <li v-for="sugg in suggestions">
                {% verbatim %}
    
        {{ sugg.suggestion }}
        {% endverbatim %}
    
        </li>
    </ul>
</div>
</span> 
{% if user.is_authenticated %}
<form action="/" method="post">
{% csrf_token %}
{{ form }}
<input type="submit" class="button" value="Submit">
</form>
<div id="app">
    {% verbatim %}
    {{ message }}
    {% endverbatim %}
</div>
{% endif %}
{% endblock %}
{% block scripts %}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<!-- development version, includes helpful console warnings -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="{% static "js/myvue.js" %}"></script>
{% endblock %}