{% extends "base.html" %}
{% load static %}

{% block content %}
{{ variable }} 
{% if user.is_authenticated %}
<a href="/logout/" class="button">Logout</a>
{% else %}
<a href="/login/" class="button">Login</a>
{% endif %}
<div id="app-4"> 
<span v-if="seen">
<ul>
    {% for sugg in some_list %}
        <li>
            {{ sugg.suggestion }} - {{ sugg.author.username }} - {{ sugg.created_on }}
            <ul>
                {% for comm in sugg.comments %}
                    <li>{{ comm.comment }} - {{ comm.author.username }} - {{ comm.created_on }} - <a data-method='delete' href="/comment/{{ comm.id }}/">delete</a></li>
                {% endfor %}
                <li><a href="/comment/{{ sugg.id }}/">comment</a></li>
            </ul>
        </li>
    {% endfor %}
</ul>
</span> 
<span v-if="unseen">

    <ul>
        <li v-for="sugg in suggestions">
                {% verbatim %}
    
        {{ sugg.suggestion }} - {{ sugg.author }} - {{ sugg.created_on }}
        {% endverbatim %}
        <ul>
            <li v-for="comm in sugg.comments">
                    {% verbatim %}
        
            {{ comm.comment }} - {{ comm.author }} - {{ comm.created_on }} - <a v-bind:action="DELETE" v-bind:href="'/comment/'+ comm.id+'/'">delete</a>
            {% endverbatim %}
        
            </li>
            {% verbatim %}
            <li><a v-bind:href="'/comment/'+ sugg.id+'/'">comment</a></li>
            {% endverbatim %}
        </ul>
        </li>
    </ul>
</div>
</span> 
{% if user.is_authenticated %}
<form action="/" method="post">
{% csrf_token %}
{{ form }}
<input type="submit" class="button" value="Submit">
</form>
<!-- <div id="app">
    {% verbatim %}
    {{ message }}
    {% endverbatim %}
</div> -->
{% endif %}
{% endblock %}
{% block scripts %}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<!-- development version, includes helpful console warnings -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="{% static "js/myvue.js" %}"></script>
{% endblock %}